<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacienți</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/menu.js' %}" defer></script>
</head>
<body>
    <div class="header">
        <button class="menu-btn" onclick="toggleSidebar()">&#9776;</button>
        {% if user.is_authenticated and user.profile.role == 'pacient' %}
        <p>Pacient {{ user.profile.nume }} {{ user.profile.prenume }}</p>
        {% elif user.is_authenticated and user.profile.role == 'doctor' %}
        <p>Dr. {{ user.profile.nume }} {{ user.profile.prenume }}</p>
        {% endif %}
        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
            {% csrf_token %}
            <button type="submit">Deconectare</button>
        </form>
        
        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Deconectare</a>
    </div>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <h2 class="sidebar-title">HealthPortal</h2>
            <ul class="sidebar-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profil' %}">Profil</a></li>
                <li><a href="{% url 'chat' %}">Chat</a></li>
                <li><a href="{% url 'view_medical_results' %}">Rezultate Medicale</a></li>
                {% if user.is_authenticated and user.profile.role == 'pacient' %}
                <li><a href="{% url 'view_personal_history' %}">Istoric Medical</a></li>
                {% endif %}
                {% if user.is_authenticated and user.profile.role == 'doctor' %}
                <li><a href="{% url 'view_patient_history' %}">Istoric Medical Pacienti</a></li>
                {% endif %}
                <li><a href="{% url 'prescriptii' %}">Prescriptii</a></li>
                <li><a href="{% url 'manage_appointments' %}">Programari</a></li>
                {% if user.is_authenticated and user.profile.role == 'doctor' %}
                    <li><a href="{% url 'view_patients' %}">Pacienți</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="main-content">
            <div class="profile-card">
                <h2>Lista Pacienților</h2>
                <form method="post" action="{% url 'view_patients' %}">
                    <ul>
                        {% for patient in patients %}
                            <li>
                                <input type="checkbox" name="patients" value="{{ patient.id }}"  {% if patient.id_doctor == doctor_id %} checked{% endif %}>
                                {{ patient.nume }} {{ patient.prenume }} - {{ patient.email }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="submit" class="btn">Actualizează</button>
                </form>
                <h3>Pacienți Monitorizați</h3>
                <ul id="monitored_patients_list">
                    {% for patient in monitored_patients %}
                        <li id="patient_{{ patient.id }}">
                            {{ patient.nume }} {{ patient.prenume }} - {{ patient.email }}
                            {% if patient.is_online %} 
                                <span class="status online"></span>
                            {% else %}
                                <span class="status offline"></span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port + '/status');
        socket.on('update_status', function(data) {
            const patientElement = document.getElementById('patient_' + data.id);
            if (patientElement) {
                const statusElement = patientElement.querySelector('.status');
                if (data.status === 'online') {
                    statusElement.classList.remove('offline');
                    statusElement.classList.add('online');
                } else {
                    statusElement.classList.remove('online');
                    statusElement.classList.add('offline');
                }
            }
        });
    </script>
    <style>
        .status {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 10px;
        }
        .online {
            background-color: green;
        }
        .offline {
            background-color: red;
        }
    </style>
</body>
</html>
